doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Alexander Lacson | Portfolio

        // Favicon
        link(rel='icon', type='image/png', sizes='96x96', href='assets/img/icons8-portfolio-96.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand(href='#page-top') Alexander Lacson
                button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#portfolio') Portfolio
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#contact') Contact

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/img/profile-image.png', alt='profile image')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Alexander Lacson
                // Icon Divider
                .divider-custom#masthead-divider.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-microchip
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Software Developer - Data Analyst

        // Portfolio Section
        section#portfolio.page-section.portfolio
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-microchip
                    .divider-custom-line
                // Portfolio Grid Items
                .row.justify-content-center
                    // Portfolio Item 3
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal3')
                            span.portfolio-item-text.text-white.px-2.py-1 Tap or Click to open
                            .portfolio-item-caption#portfolio-item-3-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-white.px-4.py-3
                                    | Multiplayer Statistics Dashboard Website for Battle for Wesnoth
                            img.img-fluid.border(src='assets/img/portfolio/wesnoth.png', alt='Wesnoth Dashboard')
                    // Portfolio Item 1
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal1')
                            span.portfolio-item-text.text-white.px-2.py-1(style='position: absolute;') Tap or Click to open
                            .portfolio-item-caption#portfolio-item-1-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-white.px-4.py-3
                                    | Full-stack cross-platform mobile app development for Mapa Web Development
                            img.img-fluid(src='assets/img/portfolio/park_king.png', alt='Park King')
                    // Portfolio Item 2
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal2')
                            span.portfolio-item-text.text-white.px-2.py-1 Tap or Click to open
                            .portfolio-item-caption#portfolio-item-2-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-white.px-4.py-3
                                    | Data Visualization for Pazito's Time Tracker
                            img.img-fluid.border(src='assets/img/portfolio/time_tracker.jpeg', alt='Pazito\'s Time Tracker')

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2#about-heading.page-section-heading.text-center.text-uppercase.text-white About
                // Icon Divider
                .divider-custom#about-divider.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-microchip
                    .divider-custom-line
                // About Section Content
                .row#about-content
                    .col-lg-4.ms-auto
                        div
                            h3 Data-driven
                            p.lead
                                | I consider myself a strategic and analytical person. I prefer to make decisions that are informed by data. When I receive information, I like to contextualize it in terms of where it came from and its degree of uncertainty.
                    .col-lg-4
                        div
                            h3 Adaptable
                            p.lead
                                | Whatever your technology stack is, given enough time I can get the hang of any part of it. Just point me in the right direction and show me the official documentation.
                    .col-lg-4.me-auto
                        div
                            h3 Caring
                            p.lead
                                | I believe that innovation only thrives when people feel like they are respected and cared for. People who feel like they do not belong will not share their ideas, or may not even bother to come up with any.

        // Contact Section
        section#contact.page-section
            .container
                // Contact Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contact Me
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-microchip
                    .divider-custom-line
                // Contact Section Form
                .row.justify-content-center
                    .col-lg-8.col-xl-7

                        // * * * * * * * * * * * * * * *
                        // * * Formspree Contact Form * *
                        // * * * * * * * * * * * * * * *

                        form#contactForm(action=`https://formspree.io/f/xnqlpedv`, method='POST')

                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text',
                                    placeholder='Enter your name...',
                                    name='name',
                                    required=''
                                )
                                label(for='name') Full name

                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email',
                                    placeholder='name@example.com',
                                    name='email',
                                    required=''
                                )
                                label(for='email') Email address

                            // Phone number input
                            .form-floating.mb-3
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='(123) 456-7890',
                                    name='phone',
                                    required=''
                                )
                                label(for='phone') Phone number

                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    type='text',
                                    placeholder='Enter your message here...',
                                    style='height: 10rem;',
                                    name='message',
                                    required=''
                                )
                                label(for='message') Message

                            // Sets the subject of Formspree notification emails
                            input(type='hidden', name='_subject', value='Sent from portfolio-v2.')
                            // Catches (some) spambots
                            input(type='text', name='_gotcha', style='display:none')

                            // Submit Button
                            button#submitButton.btn.btn-primary.btn-xl(type='submit') Send

        // Footer
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Location
                        p.lead.mb-0
                            | Philippines
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Around the Web
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.facebook.com/alexander.lacson.92/')
                            i.fab.fa-fw.fa-facebook-f
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/alexanderzlacson/')
                            i.fab.fa-fw.fa-linkedin-in
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://github.com/max-torch')
                            i.fab.fa-fw.fa-github
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 Credits
                        p.lead
                            | This portfolio website is based on the 
                            a(href='https://startbootstrap.com/theme/freelancer/') Freelancer
                            | template. Freelancer is a free to use, MIT licensed Bootstrap theme created by 
                            a(href='http://startbootstrap.com') Start Bootstrap
                            | .
                        p.lead.mb-0
                        a(href='https://icons8.com/icon/K0wigTtBbiku/portfolio', target='_blank') portfolio icon by 
                            a(href='https://icons8.com', target='_blank') Icons8
                        
        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright &copy; Alexander Lacson 2024

        // Portfolio Modals
        include includes/portfolio-modal-1.pug
        include includes/portfolio-modal-2.pug
        include includes/portfolio-modal-3.pug
        include includes/portfolio-modal-4.pug
        include includes/portfolio-modal-5.pug
        include includes/portfolio-modal-6.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
